.show-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(111, 150, 153, 0.295);
}
.container1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  border-style: groove;
  border-color: rgb(10, 163, 18);
  text-align: center-align;
  background-color: #56ffe7;
}

.row1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.container2 {
  width: 6000px;
  line-height: 112.9;
  border-style: groove;
  border-color: rgb(199, 68);
  text-align: center-align;
  background-color: #56ffe7;
}
.container3 {
  border-style: groove;
  border-color: rgb(0, 131, 28);
  text-align: center-align;
  background-color: #19b80be5;
}
