.show-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-style: groove;
<<<<<<< HEAD
  border-color: #3c9df1;
  background-color: #05508d;
  /* border-radius: 10px; */
=======
  border-color: #1e88e5;
  background-color: #424242;
  /* border-radius: 25px; */
>>>>>>> master
}

.news {
<<<<<<< HEAD
  background-color: #05508d;
=======
  border-style: inset;
  /* border-color: beige; */
  /* text-align: center; */
  background-color: rgb(255, 255, 255);
>>>>>>> master
}

.cal {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  /* align-content: center; */
  /* border-style: inset; */
  border-color: rgb(21, 158, 212);
}
.roster {
  display: flex;
  justify-content: center;
  /* background-color: rgb(0, 238, 255); */
}
.player {
  /* display: grid;
  grid-template-rows: 1fr 1fr; */

  /* border-style: inset; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #424242;
  /* color: white; */
}

.text {
  color: rgb(202, 17, 17);
  background-color: #424242;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.weatherpic {
  float: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-image: url(https://s14-eu5.startpage.com/cgi-bin/serveimage?url=http:%2F%2Fwww.baltana.com%2Ffiles%2Fwallpapers-8%2FSunny-Day-Best-Wallpaper-25960.jpg&sp=8bf1ad835505823b6b47f982c318e8dc);
}

.card {
  background-color: lightgrey;
  border-style: groove;
  border-color: #3c9df1;
}
.gradient {
  background: linear-gradient(white, #05508d);
}
