.row {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .container1 {
    border-style: solid;
    border-color: beige;
    text-align: center;
    /* background-color: #ccffff; */
  }